<body>
    {% if advert is defined  %}
    {{ dump(advert) }}
    {% endif %}
    </br>
    {% if avertAvecCategorie is defined %}
    {{ dump(avertAvecCategorie) }}
    {% endif %}
    </br>
    {% if xDernieresAdvertAvecCategorie is defined %}
        {{ dump(xDernieresAdvertAvecCategorie) }}
    {% endif %}

</body>